<img src="https://i.imgur.com/JDsOpVN.png" style="float: left; margin: 20px; height: 290px">

# Feature Selection 

---
Predicting House Prices with Linear Regression

**Author**: Miriam Sosa
1. [Define Features to Model](#Define-Features-to-Model)
    - [Model 1](#Model-1)
    - [Model 2](#Model-2)
    - [Model 3](#Model-3)

## Imports

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd           
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## Read-in Data

In [2]:
train = pd.read_csv('../data/train_clean.csv', keep_default_na=False, na_values=[''])   
test = pd.read_csv('../data/test_clean.csv', keep_default_na=False, na_values=[''])

## Data Shape

In [3]:
train.shape, test.shape

((2051, 93), (878, 91))

### Define Features to Model

In [4]:
features = ['MS Zoning', 
            'Utilities', 
            'Neighborhood', 
            'Mas Vnr Type', 
            'Foundation', 
            'Heating', 
            'Central Air', 
            'Garage Type', 
            'Garage Cond', 
            'pool', 
            'cond_norm', 
            'cond_pos', 
            'LotFrontage', 
            'Year Built', 
            'BsmtFin SF 1', 
            'SF', 
            'TotRms AbvGrd', 
            'Garage Cars', 
            'Garage Area', 
            'outdoorSF']

# Model 1

In [5]:
# Removed dummy variables that were not present in test data, and vice versa

In [6]:
X = train[features]
X = pd.get_dummies(X, columns=['MS Zoning', 
                               'Utilities', 
                               'Neighborhood', 
                               'Mas Vnr Type', 
                               'Foundation', 
                               'Heating', 
                               'Central Air', 
                               'Garage Type', 
                               'Garage Cond', 
                               'pool', 
                               'cond_norm', 
                               'cond_pos'], drop_first=True)
X.drop(columns=['Neighborhood_GrnHill',
                'Neighborhood_Landmrk',
                'MS Zoning_C (all)',
                'Utilities_NoSeWa',
                'Heating_Wall'], inplace=True)
y = train['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [7]:
lr_1 = LinearRegression()
lr_1.fit(X_train, y_train)
lr_1.score(X_train, y_train), lr_1.score(X_test, y_test)

(0.8146497291776744, 0.8102039753657923)

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 65 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   LotFrontage           2051 non-null   float64
 1   Year Built            2051 non-null   int64
 2   BsmtFin SF 1          2051 non-null   float64
 3   SF                    2051 non-null   int64
 4   TotRms AbvGrd         2051 non-null   int64
 5   Garage Cars           2051 non-null   float64
 6   Garage Area           2051 non-null   float64
 7   outdoorSF             2051 non-null   int64
 8   MS Zoning_FV          2051 non-null   uint8
 9   MS Zoning_I (all)     2051 non-null   uint8
 10  MS Zoning_RH          2051 non-null   uint8
 11  MS Zoning_RL          2051 non-null   uint8
 12  MS Zoning_RM          2051 non-null   uint8
 13  Utilities_NoSewr      2051 non-null   uint8
 14  Neighborhood_Blueste  2051 non-null   uint8
 15  Neighborhood_BrDale   2051 non-null   uint8
 16  Neighborhood_BrkSide  2051 non-null   uint8
 17  Neighborhood_ClearCr  2051 non-null   uint8
 18  Neighborhood_CollgCr  2051 non-null   uint8
 19  Neighborhood_Crawfor  2051 non-null   uint8
 20  Neighborhood_Edwards  2051 non-null   uint8
 21  Neighborhood_Gilbert  2051 non-null   uint8
 22  Neighborhood_Greens   2051 non-null   uint8
 23  Neighborhood_IDOTRR   2051 non-null   uint8
 24  Neighborhood_MeadowV  2051 non-null   uint8
 25  Neighborhood_Mitchel  2051 non-null   uint8
 26  Neighborhood_NAmes    2051 non-null   uint8
 27  Neighborhood_NPkVill  2051 non-null   uint8
 28  Neighborhood_NWAmes   2051 non-null   uint8
 29  Neighborhood_NoRidge  2051 non-null   uint8
 30  Neighborhood_NridgHt  2051 non-null   uint8
 31  Neighborhood_OldTown  2051 non-null   uint8
 32  Neighborhood_SWISU    2051 non-null   uint8
 33  Neighborhood_Sawyer   2051 non-null   uint8
 34  Neighborhood_SawyerW  2051 non-null   uint8
 35  Neighborhood_Somerst  2051 non-null   uint8
 36  Neighborhood_StoneBr  2051 non-null   uint8
 37  Neighborhood_Timber   2051 non-null   uint8
 38  Neighborhood_Veenker  2051 non-null   uint8
 39  Mas Vnr Type_BrkFace  2051 non-null   uint8
 40  Mas Vnr Type_None     2051 non-null   uint8
 41  Mas Vnr Type_Stone    2051 non-null   uint8
 42  Foundation_CBlock     2051 non-null   uint8
 43  Foundation_PConc      2051 non-null   uint8
 44  Foundation_Slab       2051 non-null   uint8
 45  Foundation_Stone      2051 non-null   uint8
 46  Foundation_Wood       2051 non-null   uint8
 47  Heating_GasW          2051 non-null   uint8
 48  Heating_Grav          2051 non-null   uint8
 49  Heating_OthW          2051 non-null   uint8
 50  Central Air_Y         2051 non-null   uint8
 51  Garage Type_Attchd    2051 non-null   uint8
 52  Garage Type_Basment   2051 non-null   uint8
 53  Garage Type_BuiltIn   2051 non-null   uint8
 54  Garage Type_CarPort   2051 non-null   uint8
 55  Garage Type_Detchd    2051 non-null   uint8
 56  Garage Type_NA        2051 non-null   uint8
 57  Garage Cond_Fa        2051 non-null   uint8
 58  Garage Cond_Gd        2051 non-null   uint8
 59  Garage Cond_NA        2051 non-null   uint8
 60  Garage Cond_Po        2051 non-null   uint8
 61  Garage Cond_TA        2051 non-null   uint8
 62  pool_1                2051 non-null   uint8
 63  cond_norm_1           2051 non-null   uint8
 64  cond_pos_1            2051 non-null   uint8
dtypes: float64(4), int64(4), uint8(57)
memory usage: 242.5 KB

In [9]:
# Recreate X with test data: test and train data have different values (drop dummy not found in train)

In [10]:
X = test[features]
X = pd.get_dummies(X, columns=['MS Zoning', 
                               'Utilities', 
                               'Neighborhood', 
                               'Mas Vnr Type', 
                               'Foundation', 
                               'Heating', 
                               'Central Air', 
                               'Garage Type', 
                               'Garage Cond', 
                               'pool', 
                               'cond_norm', 
                               'cond_pos'], drop_first=True)
X.drop(columns=['Mas Vnr Type_CBlock'], inplace=True)

In [11]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878 entries, 0 to 877
Data columns (total 65 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   LotFrontage           878 non-null    float64
 1   Year Built            878 non-null    int64
 2   BsmtFin SF 1          878 non-null    int64
 3   SF                    878 non-null    int64
 4   TotRms AbvGrd         878 non-null    int64
 5   Garage Cars           878 non-null    int64
 6   Garage Area           878 non-null    int64
 7   outdoorSF             878 non-null    int64
 8   MS Zoning_FV          878 non-null    uint8
 9   MS Zoning_I (all)     878 non-null    uint8
 10  MS Zoning_RH          878 non-null    uint8
 11  MS Zoning_RL          878 non-null    uint8
 12  MS Zoning_RM          878 non-null    uint8
 13  Utilities_NoSewr      878 non-null    uint8
 14  Neighborhood_Blueste  878 non-null    uint8
 15  Neighborhood_BrDale   878 non-null    uint8
 16  Neighborhood_BrkSide  878 non-null    uint8
 17  Neighborhood_ClearCr  878 non-null    uint8
 18  Neighborhood_CollgCr  878 non-null    uint8
 19  Neighborhood_Crawfor  878 non-null    uint8
 20  Neighborhood_Edwards  878 non-null    uint8
 21  Neighborhood_Gilbert  878 non-null    uint8
 22  Neighborhood_Greens   878 non-null    uint8
 23  Neighborhood_IDOTRR   878 non-null    uint8
 24  Neighborhood_MeadowV  878 non-null    uint8
 25  Neighborhood_Mitchel  878 non-null    uint8
 26  Neighborhood_NAmes    878 non-null    uint8
 27  Neighborhood_NPkVill  878 non-null    uint8
 28  Neighborhood_NWAmes   878 non-null    uint8
 29  Neighborhood_NoRidge  878 non-null    uint8
 30  Neighborhood_NridgHt  878 non-null    uint8
 31  Neighborhood_OldTown  878 non-null    uint8
 32  Neighborhood_SWISU    878 non-null    uint8
 33  Neighborhood_Sawyer   878 non-null    uint8
 34  Neighborhood_SawyerW  878 non-null    uint8
 35  Neighborhood_Somerst  878 non-null    uint8
 36  Neighborhood_StoneBr  878 non-null    uint8
 37  Neighborhood_Timber   878 non-null    uint8
 38  Neighborhood_Veenker  878 non-null    uint8
 39  Mas Vnr Type_BrkFace  878 non-null    uint8
 40  Mas Vnr Type_None     878 non-null    uint8
 41  Mas Vnr Type_Stone    878 non-null    uint8
 42  Foundation_CBlock     878 non-null    uint8
 43  Foundation_PConc      878 non-null    uint8
 44  Foundation_Slab       878 non-null    uint8
 45  Foundation_Stone      878 non-null    uint8
 46  Foundation_Wood       878 non-null    uint8
 47  Heating_GasA          878 non-null    uint8
 48  Heating_GasW          878 non-null    uint8
 49  Heating_Grav          878 non-null    uint8
 50  Central Air_Y         878 non-null    uint8
 51  Garage Type_Attchd    878 non-null    uint8
 52  Garage Type_Basment   878 non-null    uint8
 53  Garage Type_BuiltIn   878 non-null    uint8
 54  Garage Type_CarPort   878 non-null    uint8
 55  Garage Type_Detchd    878 non-null    uint8
 56  Garage Type_NA        878 non-null    uint8
 57  Garage Cond_Fa        878 non-null    uint8
 58  Garage Cond_Gd        878 non-null    uint8
 59  Garage Cond_NA        878 non-null    uint8
 60  Garage Cond_Po        878 non-null    uint8
 61  Garage Cond_TA        878 non-null    uint8
 62  pool_1                878 non-null    uint8
 63  cond_norm_1           878 non-null    uint8
 64  cond_pos_1            878 non-null    uint8
dtypes: float64(1), int64(7), uint8(57)
memory usage: 103.9 KB

In [12]:
# Generate predicted values for test data and export Kaggle Submission 1

In [13]:
kaggle_preds = lr_1.predict(X)

In [14]:
test.columns = [column.replace(' ', '_').lower() for column in test.columns]

In [15]:
test['saleprice'] = kaggle_preds

In [16]:
test[['id','saleprice']]

       id      saleprice
0    2658  141249.649573
1    2718  201656.892487
2    2414  192113.054592
3    1989  102145.967192
4     625  169399.433652
..    ...            ...
873  1662  238704.111399
874  1234  209321.241136
875  1373  124622.378600
876  1672  133176.112644
877  1939  130861.652945

[878 rows x 2 columns]

In [17]:
test[['id','saleprice']].to_csv('../submissions/kaggle_sub_model_1.csv', index=False)

## Model 2

In [18]:
# Avoided multi-level 'Categorical Variables' to allow regularization in later approaches

In [19]:
features2 = ['pool', 
             'cond_norm', 
             'cond_pos', 
             'LotFrontage', 
             'Year Built', 
             'BsmtFin SF 1', 
             'SF', 
             'TotRms AbvGrd', 
             'Garage Cars', 
             'Garage Area', 
             'outdoorSF']

In [20]:
X = train[features2]
y = train['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [21]:
lr_1 = LinearRegression()
lr_1.fit(X_train, y_train)
lr_1.score(X_train, y_train), lr_1.score(X_test, y_test)

(0.7165250436474981, 0.7668436248221406)

In [22]:
test = pd.read_csv('../data/test_clean.csv', keep_default_na=False, na_values=[''])

In [23]:
X = test[features2]

In [24]:
# Generate predicted values for test data and export Kaggle Submission 2

In [25]:
kaggle_preds = lr_1.predict(X)

In [26]:
test.columns = [column.replace(' ', '_').lower() for column in test.columns]

In [27]:
test['saleprice'] = kaggle_preds

In [28]:
kaggle_sub_data = test[['id','saleprice']]

In [29]:
kaggle_sub_data

       id      saleprice
0    2658  150562.384981
1    2718  218813.820755
2    2414  208208.607552
3    1989   98401.720816
4     625  176280.490586
..    ...            ...
873  1662  257226.404002
874  1234  227648.425302
875  1373  120268.649577
876  1672  141326.494870
877  1939  126781.382373

[878 rows x 2 columns]

In [30]:
kaggle_sub_data[['id','saleprice']].to_csv('../submissions/kaggle_sub_model_2.csv', index=False)

## Model 3

In [31]:
# Eliminate colinearities and features validation found less valuable
# Remove Neighborhoods that mismatched between test and train

In [32]:
features = ['Neighborhood', 
            'foundations', 
            'central_air', 
            'garage_index', 
            'pool', 'cond_norm', 
            'cond_pos', 
            'LotFrontage', 
            'Year Built', 
            'BsmtFin SF 1',
            'SF', 
            'outdoorSF']

In [33]:
X = train[features]
X = pd.get_dummies(X, columns=['Neighborhood'], drop_first=True)
X.drop(columns=['Neighborhood_GrnHill','Neighborhood_Landmrk'], inplace=True)
y = train['SalePrice']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [34]:
lr_1 = LinearRegression()
lr_1.fit(X_train, y_train)
lr_1.score(X_train, y_train), lr_1.score(X_test, y_test)

(0.8006867274665588, 0.8172411078068521)

In [35]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2051 entries, 0 to 2050
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   foundations           2051 non-null   int64
 1   central_air           2051 non-null   int64
 2   garage_index          2051 non-null   float64
 3   pool                  2051 non-null   int64
 4   cond_norm             2051 non-null   int64
 5   cond_pos              2051 non-null   int64
 6   LotFrontage           2051 non-null   float64
 7   Year Built            2051 non-null   int64
 8   BsmtFin SF 1          2051 non-null   float64
 9   SF                    2051 non-null   int64
 10  outdoorSF             2051 non-null   int64
 11  Neighborhood_Blueste  2051 non-null   uint8
 12  Neighborhood_BrDale   2051 non-null   uint8
 13  Neighborhood_BrkSide  2051 non-null   uint8
 14  Neighborhood_ClearCr  2051 non-null   uint8
 15  Neighborhood_CollgCr  2051 non-null   uint8
 16  Neighborhood_Crawfor  2051 non-null   uint8
 17  Neighborhood_Edwards  2051 non-null   uint8
 18  Neighborhood_Gilbert  2051 non-null   uint8
 19  Neighborhood_Greens   2051 non-null   uint8
 20  Neighborhood_IDOTRR   2051 non-null   uint8
 21  Neighborhood_MeadowV  2051 non-null   uint8
 22  Neighborhood_Mitchel  2051 non-null   uint8
 23  Neighborhood_NAmes    2051 non-null   uint8
 24  Neighborhood_NPkVill  2051 non-null   uint8
 25  Neighborhood_NWAmes   2051 non-null   uint8
 26  Neighborhood_NoRidge  2051 non-null   uint8
 27  Neighborhood_NridgHt  2051 non-null   uint8
 28  Neighborhood_OldTown  2051 non-null   uint8
 29  Neighborhood_SWISU    2051 non-null   uint8
 30  Neighborhood_Sawyer   2051 non-null   uint8
 31  Neighborhood_SawyerW  2051 non-null   uint8
 32  Neighborhood_Somerst  2051 non-null   uint8
 33  Neighborhood_StoneBr  2051 non-null   uint8
 34  Neighborhood_Timber   2051 non-null   uint8
 35  Neighborhood_Veenker  2051 non-null   uint8
dtypes: float64(3), int64(8), uint8(25)
memory usage: 226.5 KB

In [36]:
# Generate predicted values for test data and export Kaggle Submission 3

In [37]:
test = pd.read_csv('../data/test_clean.csv', keep_default_na=False, na_values=[''])

In [38]:
X = test[features]
X = pd.get_dummies(X, columns=['Neighborhood'], drop_first=True)

In [39]:
kaggle_preds = lr_1.predict(X)

In [40]:
test.columns = [column.replace(' ', '_').lower() for column in test.columns]

In [41]:
test['saleprice'] = kaggle_preds

In [42]:
test[['id','saleprice']]

       id      saleprice
0    2658  131216.773153
1    2718  186819.777000
2    2414  191675.665500
3    1989   93167.097635
4     625  163122.040560
..    ...            ...
873  1662  243880.101951
874  1234  205378.185587
875  1373  119148.855029
876  1672  137313.049936
877  1939  124694.905160

[878 rows x 2 columns]

In [44]:
test[['id','saleprice']].to_csv('../submissions/kaggle_sub_model_3.csv', index=False)